<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="Magento\Catalog\Helper\Output">
        <plugin name="Business_Shoes_around_product_attribute" type="Business\Shoes\Plugin\Catelog\Helper\Output"/>
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="beforeAddProduct" type="Business\Shoes\Plugin\Checkout\Model\Cart"/>
    </type>
</config>
