<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <example_section>
            <time>
                <enable>1</enable>
            </time>
            <price>
                <enable>1</enable>
                <display_text>Deals Price</display_text>
                <deals_price>200000</deals_price>
            </price>
            <number>
                <enable>1</enable>
                <quantity>10</quantity>
            </number>
        </example_section>
    </default>
</config>
